@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Khula:300|Playfair+Display:700');

* {
  box-sizing: border-box;
  // border: 1px dotted grey;
  margin: 0;
}

a {
  color: #535353;
  &:hover {
    color: #4A0069;
  }
  &:active {
    color: darkgrey;
  }
}

body {
  font-family: 'Khula', sans-serif;
  color: #191919;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    // background: white; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient(yellow, orange, deeppink, deeppink); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(yellow, orange, deeppink, deeppink); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(yellow, orange, deeppink, deeppink); /* For Firefox 3.6 to 15 */
    // background: linear-gradient(180deg, yellow, orange, deeppink, deeppink);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    span {
      display: block;
      width: 15vw;
      font-size: 6.5vw;
    }

    .abc-span {
      color: deeppink;
      cursor: pointer;
      &:hover {
        -webkit-text-fill-color: #4A0069;
      }
      &:active {
        -webkit-text-fill-color: darkgrey;
      }
    }

    .non-abc-span {
      font-size: 2.6vw;
      color: #191919;
      -webkit-text-fill-color: #535353;
      text-decoration: overline;

      i {
        text-decoration: none;
        font-size: 6.5vw;
        align-self: flex-end;
      }
    }
  }
}

article {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;

  .prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: deeppink;
    color: #FDFDFD;
    text-align: center;

    // #letter {
    //   font-family: 'Playfair Display', serif;
    //   width: 50%;
    //   font-size: 10vmax;
    //   text-shadow: 2px 2px #191919;
    //   text-transform: uppercase;
    // }

    .words {
      // width: 50%;
      font-size: 2.5vmax;

      i {
        font-size: 20vmax;
        color: #FDFDFD;
      }

      #word {
        font-size: 6vmax;
      }
    }
  }

  #input-section {
    background-color: #FDFDFD;

    #input-menu {
      border-top: 1px solid lightgrey;
      background-color: #fafafa;
      font-size: 3.5vmin;
      display: flex;
      align-items: center;
      justify-content: space-around;

      #options {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        list-style: none;
        display: none;
        position: absolute;
        top: -13vmin;
        padding: 1vh .5vw;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #FDFDFD;
        border: 1px solid lightgrey;

        li:hover {
          color: deeppink;
          transition-duration: .5s;
        }

        li:active {
          transition-duration: .25s;
          color: #4A0069;
        }
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-left: 0;

        li {
          position: relative;
        }

        .input-menu-description {
          color: grey;
          font-style: italic;
        }

        .input-menu-element {
          cursor: pointer;

          span:hover {
            color: deeppink;
            transition-duration: .5s;
          }

          span:active {
            transition-duration: .25s;
            color: #4A0069;
          }
        }

      }

    }

    #canvas {
      // check copy right for altering!!
      cursor: url('../img/pencil_smashicon.png'), default;
      display: block;
    }
  }
}

@media (orientation: landscape) {
  .prompt {
    height: 100%;
    width: 50%;
  }

  #input-section {
    height: 100%;
    width: 50%;
  }
}

@media (orientation: portrait) {
  .prompt {
    height: 50%;
    width: 100%;
  }

  #input-section {
    height: 50%;
    width: 100%;
  }
}
